:root {
    --font: "Roboto Mono";
    --bg-color: rgb(48, 48, 48);
    --text-color: rgb(209, 209, 209);

    --nav-bar-bg-color: rgb(77, 77, 77);
    --nav-menu-items-hover-bg-color: rgb(80, 140, 245);
    --text-color-nav-menu-items-hover: rgb(49, 49, 49);
    /* --color-logo-text: rgb(157, 180, 240); */
    --color-logo-text: rgb(35, 146, 236);
    
    --color-footer-text: rgb(140, 140, 140);
    --color-footer-bg: rgb(60, 60, 60);
    --color-footer-line: rgba(255, 255, 255, 0.4);

    --color-btn: rgb(80, 140, 245);
    --color-btn-disabled: rgba(80, 140, 245, 0.3);
    --color-btn-text: rgb(255, 255, 255);
    --color-btn-hover: rgb(130, 170, 250);
    --color-btn-text-disabled: rgba(255, 255, 255, 0.7);

    --input-bg-color: rgb(120, 120, 120);
    --input-color: black;
    --input-placeholder-color: rgb(80, 80, 80);
    --input-border-width: 0px;

    --color-board: rgb(199, 136, 84);
    --color-board-line: rgb(129, 87, 63);
    --color-stone-hover: rgba(190, 100, 100, 0.3);
    
    --border-width-nav-bar: 0px;
    --border-width-button: 0px;
    --border-width-timer: 0px;

}